* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
  box-sizing: border-box !important; }

@font-face {
  font-family: "Roboto Mono";
  src: url("../font/RobotoMono-Regular.ttf"); }
@font-face {
  font-family: "Roboto Mono lighter";
  src: url("../font/RobotoMono-Thin.ttf"); }
html,
body {
  font-family: "Roboto Mono" !important;
  position: relative; }

.padding-0 {
  padding: 0px !important; }

.clear {
  clear: both; }

@keyframes translateUpArrow {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-40px); }
  100% {
    transform: translateY(0px); } }
@keyframes opacityAnimation {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
.button {
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer; }
  .button:focus {
    outline: none; }

.button_type1 {
  background: white;
  border-radius: 0;
  position: relative; }
  .button_type1 .borderAnimation {
    border: 2px solid #8080803d;
    padding: 20px; }
    .button_type1 .borderAnimation::before, .button_type1 .borderAnimation::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      transition: all 0.5s; }
    .button_type1 .borderAnimation::before {
      top: 0px;
      left: 0px;
      border-left: 2px solid black;
      border-top: 2px solid black; }
    .button_type1 .borderAnimation::after {
      bottom: 0px;
      right: 0px;
      border-right: 2px solid black;
      border-bottom: 2px solid black; }
    .button_type1 .borderAnimation:hover::before, .button_type1 .borderAnimation:hover::after {
      width: 100%;
      height: 100%; }

.button_type2 {
  padding: 20px;
  position: relative;
  overflow: hidden;
  border: 1px solid white;
  transition: 0.5s all;
  z-index: 1; }
  .button_type2 span {
    position: relative;
    z-index: 2;
    color: black;
    transition: 0.3s; }
  .button_type2::before, .button_type2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1;
    display: block; }
  .button_type2::before {
    left: 0;
    opacity: 0;
    transition-duration: 0.6s;
    transition-delay: 0.2s;
    transition-property: opacity; }
  .button_type2::after {
    transform: scaleX(0);
    transform-origin: right;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: transform;
    z-index: -1;
    background-color: #ff7070; }
  .button_type2:hover {
    background-color: #ff7070;
    border: 1px solid #ff7070; }
    .button_type2:hover span {
      color: white; }
    .button_type2:hover::before {
      opacity: 1; }
    .button_type2:hover::after {
      transform: scaleX(1);
      transform-origin: left; }

.navbar {
  background: white !important;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 100;
  transition: 0.5s all;
  padding: 0; }
  .navbar .navbar-brand {
    padding: 20px; }
    .navbar .navbar-brand img {
      width: 50px;
      height: 50px; }
  .navbar .navbar-nav .nav-item {
    position: static; }
    .navbar .navbar-nav .nav-item .nav-link {
      padding: 30px;
      font-size: 16px;
      color: black; }
      .navbar .navbar-nav .nav-item .nav-link.dropdown-toggle::after {
        display: none; }
  .navbar.down {
    box-shadow: 1px 4px 6px 0px #dedddd94;
    transform: translateY(0px); }
  .navbar.up {
    transform: translateY(-200px); }

.menu_list .dropdown-menu {
  opacity: 0;
  visibility: hidden;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  margin-top: -10px; }
  .menu_list .dropdown-menu li {
    display: flex;
    flex-wrap: wrap; }
    .menu_list .dropdown-menu li .single-menu-list {
      padding: 0 50px; }
      .menu_list .dropdown-menu li .single-menu-list ul {
        list-style: none; }
        .menu_list .dropdown-menu li .single-menu-list ul li p {
          font-weight: bold; }
  @media screen and (min-width: 992px) {
    .menu_list .dropdown-menu {
      display: block; } }
.menu_list:hover .dropdown-menu {
  opacity: 1;
  visibility: visible; }
  .menu_list:hover .dropdown-menu .dropdown-item {
    background: white; }
  @media screen and (max-width: 768px) {
    .menu_list:hover .dropdown-menu {
      position: relative; } }

.navbar-collapse {
  overflow-x: hidden;
  max-height: 400px; }

.loading_screen {
  width: 100%;
  height: 100vh;
  background: black;
  position: absolute;
  z-index: 2;
  transition: 1s ease-in-out; }
  .loading_screen .white_line {
    position: absolute;
    top: 45%;
    left: 0%;
    width: 0%;
    height: 3px;
    background: white;
    animation-name: opacityAnimation;
    animation-duration: 0.5s;
    animation-delay: 2500ms;
    animation-fill-mode: forwards; }
  .loading_screen .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .loading_screen .center .percent {
      color: white;
      font-size: 32px;
      animation-name: opacityAnimation;
      animation-duration: 0.5s;
      animation-delay: 2500ms;
      animation-fill-mode: forwards; }

.main_content {
  position: relative;
  width: 100vw;
  height: 100vh; }

.panel_wrapper {
  width: 100%;
  margin-top: 40px; }
  .panel_wrapper .row {
    margin: 0; }
  .panel_wrapper .panel {
    width: 100%;
    height: 100vh;
    position: relative; }
    .panel_wrapper .panel .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      .panel_wrapper .panel .content h2 {
        font-size: 40px;
        margin-bottom: 20px; }

.arrow_down {
  width: 100%;
  text-align: center;
  margin-bottom: 100px; }
  .arrow_down i {
    font-size: 30px;
    animation-name: translateUpArrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    cursor: pointer; }

.portfolio {
  width: 100%;
  margin-bottom: 100px; }
  .portfolio .row {
    margin: 0; }
  .portfolio .portfolio_item {
    margin: 5px;
    overflow: hidden;
    position: relative; }
    .portfolio .portfolio_item img {
      width: 100%;
      zoom: 0;
      transition: 0.5s all; }
      .portfolio .portfolio_item img:hover {
        transform: scale(1.1); }
    .portfolio .portfolio_item::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: transparent;
      transition: 0.5s all;
      z-index: 1; }
    .portfolio .portfolio_item .content {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      text-align: center;
      z-index: 2; }
      .portfolio .portfolio_item .content p {
        text-align: left;
        margin-bottom: 5px;
        color: white;
        overflow: hidden; }
        .portfolio .portfolio_item .content p span {
          transition: 0.6s all;
          transform: translateY(100px);
          display: inline-block; }
        .portfolio .portfolio_item .content p:nth-child(1) span {
          font-size: 20px;
          font-weight: bold; }
        .portfolio .portfolio_item .content p:nth-child(2) span {
          font-size: 16px; }
    .portfolio .portfolio_item:hover img {
      transform: scale(1.1); }
    .portfolio .portfolio_item:hover::after {
      background-color: rgba(255, 112, 112, 0.9) !important; }
    .portfolio .portfolio_item:hover .content p span {
      transform: translateY(0px); }

.carousel {
  width: 100%;
  margin-bottom: 50px; }
  .carousel h2 {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    font-weight: bold; }
  .carousel .owl-carousel .item {
    width: 206px;
    height: 90px;
    display: flex;
    align-items: center; }
    .carousel .owl-carousel .item img {
      max-width: 135px;
      margin: 0 auto; }

.contact-section {
  width: 100%;
  background-color: #051441;
  color: white;
  padding: 4% 0;
  margin-bottom: 100px; }
  .contact-section .row {
    margin: 0; }
    .contact-section .row .content {
      text-align: center; }
      .contact-section .row .content h2 {
        font-weight: bold;
        margin-bottom: 50px; }

.footer {
  width: 100%;
  margin-bottom: 50px; }
  .footer .logo {
    width: 50px;
    height: 50px; }
    .footer .logo img {
      width: 100%; }
  .footer .social-media {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .footer .social-media a i {
      color: grey;
      margin-left: 40px; }
    .footer .social-media a:hover {
      text-decoration: none !important;
      color: grey; }

/*# sourceMappingURL=main.css.map */
